//.q-tab-panel
.mapping-pane .q-tab-panel{
  padding: 0;
}

.chips .q-icon.q-btn-dropdown__arrow.q-btn-dropdown__arrow-container{
  display: none;
}

.chips.q-btn{
  min-height: 0;
  padding: 2px 4px;
}

.q-scrollarea__content.absolute{
  height: 100% !important;
}
